@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  font-family: "Crimson Text", serif;
}

p, li, h1{
  font-family: "Crimson Text", serif;
}


body::-webkit-scrollbar {
  width: 8px;
  @apply mx-4;
  max-height: 6px;
}

body::-webkit-scrollbar-track {
  background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
  @apply bg-footer;
  border-radius: 10px;
  max-height: 6px;
}

body::-webkit-scrollbar-thumb:hover {
  @apply bg-footer;
  max-height: 6px;
}

